*{
    padding: 0;
    margin: 0;
}

.hero{
    background: url(image/photo-1595664652035-0956d50e0311.avif);
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
}

.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    padding: 70px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;

}