@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
:root{

}
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.hero{
    background: url(image/photo-1595664652035-0956d50e0311.avif);
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
}

.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    padding: 70px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;

}

.artice{
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    background-color: rgb(147, 202, 202);
    padding: 60px;
    border: 15px yellow groove;
    border-radius: 10px;
}

.artice h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid gray;
    border-radius: 50px;
    padding: 12px;
    margin-bottom: 30px;
}

.artice p{
    font-size: 28px;
    /* 2 em means font size er double */
    line-height: 2em;
}

/* 2 em means parents er theke 2 X 28 * 2 = 56 */

.artice p .imp{
    font-size: 2em;
}